{% extends 'base.html.twig' %}

{% block title %}Accueil Affineur{% endblock %}

{% block body %}

<h1>L'Affineur</h1>
<p>Le premier guide sérieux consacré exclusivement aux fromages de rayon frais. Chaque emballage sous vide mérite une attention méticuleuse.</p>

{% endblock %}
