$couleur-principale : #faf6ef;
$couleur-secondaire : #1a1208;
$couleur-gold : #daa820;
$couleur-red :#8a2235;
$couleur-cream : #ead8bc;


$police-principale:"Playfair",sans-serif;
$police-secondaire:"DM Sans",sans-serif;