@font-face {
    font-family: "Playfair";
    src: url(../../../fonts/Playfair/static/PlayfairDisplay-Regular.ttf);
    
    font-family: "DM Sans";
    src: url(../../../fonts/DM/static/DMSans-Regular.ttf);
}